@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }
}

@layer utilities {
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
